<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826452971182-26icbc6o9buf8vt6opfl43jgn06prki9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826452971182-26icbc6o9buf8vt6opfl43jgn06prki9</string>
	<key>API_KEY</key>
	<string>AIzaSyCOYXztNNx84EYr-es7NMOkGKJViJQVXpk</string>
	<key>GCM_SENDER_ID</key>
	<string>826452971182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.deskplate.s-chat</string>
	<key>PROJECT_ID</key>
	<string>p-chat-686ca</string>
	<key>STORAGE_BUCKET</key>
	<string>p-chat-686ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826452971182:ios:288ecbbe74f29b0402e73f</string>
	<key>DATABASE_URL</key>
	<string>https://p-chat-686ca.firebaseio.com</string>
</dict>
</plist>